{{define "wikLeftNavCompoent"}}
        <nav class="leftMenu">
            <div class="_2eQHIINdLljKww0EIYmDds">
                <a class="_1sfyyRUhk7HUNJeXF173vM _2Q760VqfC0Ys7sdehGKghg _3nfQ5NlPNi7arFxkD0ynvW"
                href="javascript:;">
                    <div class="_3LSQHhQYoARGIit2BfWmHT _1idGUcHCL_eIsqfMcee95b" style="height: 34px; width: 34px;">
                        <div class="_2PNRJNNjA4_U0YygXkoknR _3UMi6giRuBI4hVmtmIBKcZ _17VXWnNnO9aMXr1xfgNtMl">
                        </div>
                    </div>
                </a>
                <a class="_1sfyyRUhk7HUNJeXF173vM _2Q760VqfC0Ys7sdehGKghg" href="javascript:;">
                    <div class="_3LSQHhQYoARGIit2BfWmHT _1idGUcHCL_eIsqfMcee95b" style="height: 34px; width: 34px;">
                        <div class="_2PNRJNNjA4_U0YygXkoknR _2n-YBVaA69odu9p23gqirr _17VXWnNnO9aMXr1xfgNtMl">
                        </div>
                    </div>
                </a>
                <a href="javascript:;"
                class="_1sfyyRUhk7HUNJeXF173vM _2Q760VqfC0Ys7sdehGKghg" target="_blank">
                    <div class="_3LSQHhQYoARGIit2BfWmHT _1idGUcHCL_eIsqfMcee95b" style="height: 34px; width: 34px;">
                        <div class="_2PNRJNNjA4_U0YygXkoknR _35hyPTfRXwu5xEi908klL_ _17VXWnNnO9aMXr1xfgNtMl">
                        </div>
                    </div>
                </a>
                <a href="javascript:;"
                class="_1sfyyRUhk7HUNJeXF173vM _2Q760VqfC0Ys7sdehGKghg D-Unr_jeyuUc2-aLo8TqQ"
                target="_blank">
                    <div class="_3LSQHhQYoARGIit2BfWmHT _1idGUcHCL_eIsqfMcee95b" style="height: 34px; width: 34px;">
                        <div class="_2PNRJNNjA4_U0YygXkoknR _1gxhRZ6PvwXlF5eJPebk_P _17VXWnNnO9aMXr1xfgNtMl">
                        </div>
                    </div>
                </a>
            </div>

			{{/*最左边导航栏end */}}

			{{/*中间导航*/}}
            {{template "wikLeftCompoent" .}}            
        </nav>
{{end}}