{{define "wikLeftCompoent"}}
<div class="_3tDL-nXDUv_D6JffhIbyrg">
        <div>
            <div class="_1ksHKkk0gdugn1K2LKeXYC _1TLPwnsFOZQOYdERZfpvw9">
                <div class="_2pcE6sKlxu423STGpC7YoF _1XK4vqxxkvKi9S5zF73ae6 _2tmCKpyhs7lg0t3GNxaEyI _161o4P-ihkNKYMIfg9X0q4">
                    <span class="_1XK4vqxxkvKi9S5zF73ae6">
                        编辑 &amp; 操作
                    </span>
                </div>
                <ul class="_2v5h0jJVdp4aWiAZrbpBR0">
                    <li class="_15gkkHL4bQv9sweLi1HhLx Ho90GtZdzVfFP9zS6OZyZ">
                        <div class="_3FxKOsew291f4_tZ67BSSA _18IkeGhOznzNjFa-Zr14Zm _3U--RqcM3TT1pgudtjTFXS _3EYLoI6rCTy1MMUjFcOWCr">
                            <div class="_2PNRJNNjA4_U0YygXkoknR _2W2WwG3q2k-ThkDfnL2U1X _38v59lIlD-e0HH3on74oi6">
                            </div>
                            <div class="S8Y5s96GBvntJa9aGS70F">
                                保存文档
                            </div>
                            <div class="_28Jw2eppfH5brEFWIsmzrU">
                                ctrl+s
                            </div>
                        </div>
                    </li>


                    <li class="_15gkkHL4bQv9sweLi1HhLx"   id="deleteFile">
                            <div class="_3FxKOsew291f4_tZ67BSSA _18IkeGhOznzNjFa-Zr14Zm">
                                <div class="_2PNRJNNjA4_U0YygXkoknR fa fa-trash-o _38v59lIlD-e0HH3on74oi6">
                                </div>
                                <div class="S8Y5s96GBvntJa9aGS70F">
                                    删除文件
                                </div>
                                <div class="_28Jw2eppfH5brEFWIsmzrU">
                                </div>
                            </div>
                    </li>


                    <li class="_15gkkHL4bQv9sweLi1HhLx"  id="newFile">
                            <div class="_3FxKOsew291f4_tZ67BSSA _18IkeGhOznzNjFa-Zr14Zm">
                                <div class="_2PNRJNNjA4_U0YygXkoknR _3UMi6giRuBI4hVmtmIBKcZ _38v59lIlD-e0HH3on74oi6">
                                </div>
                                <div class="S8Y5s96GBvntJa9aGS70F">
                                    新建文件
                                </div>
                                <div class="_28Jw2eppfH5brEFWIsmzrU">
                                </div>
                            </div>
                    </li>


                    <li class="_15gkkHL4bQv9sweLi1HhLx"  id="renameFile">
                        <div class="_3FxKOsew291f4_tZ67BSSA _18IkeGhOznzNjFa-Zr14Zm">
                            <div class="_2PNRJNNjA4_U0YygXkoknR fa fa-repeat _38v59lIlD-e0HH3on74oi6">
                            </div>
                            <div class="S8Y5s96GBvntJa9aGS70F">
                                重命名
                            </div>
                            <div class="_28Jw2eppfH5brEFWIsmzrU">
                            </div>
                        </div>
                </li>
                    
<!-- 
                    <li class="_15gkkHL4bQv9sweLi1HhLx">
                            <div class="_3FxKOsew291f4_tZ67BSSA _18IkeGhOznzNjFa-Zr14Zm">
                                <div class="_2PNRJNNjA4_U0YygXkoknR _3UMi6giRuBI4hVmtmIBKcZ _38v59lIlD-e0HH3on74oi6">
                                </div>
                                <div class="S8Y5s96GBvntJa9aGS70F" id="refreshFile">
                                    刷新文件
                                    <div class="_28Jw2eppfH5brEFWIsmzrU">
                                    </div>
                                </div>  
                            </div>
                    </li> -->

                </ul>
            </div>
            <div class="_1ksHKkk0gdugn1K2LKeXYC _1TLPwnsFOZQOYdERZfpvw9">
                <div class="_2pcE6sKlxu423STGpC7YoF _1XK4vqxxkvKi9S5zF73ae6 _2tmCKpyhs7lg0t3GNxaEyI _161o4P-ihkNKYMIfg9X0q4">
                    <span class="_1XK4vqxxkvKi9S5zF73ae6">
                        本地文件
                    </span>
                </div>
                <ul class="_2v5h0jJVdp4aWiAZrbpBR0"  id="bg-mp3">

                    {{range .fileList}}
                    <li class="_15gkkHL4bQv9sweLi1HhLx">
                        <div class="_3FxKOsew291f4_tZ67BSSA _18IkeGhOznzNjFa-Zr14Zm">
                            <div class="_2PNRJNNjA4_U0YygXkoknR fa fa-file-o _38v59lIlD-e0HH3on74oi6">
                            </div>
                            <div class="_2fu3EvuSxkRWBPBgPUk19_" data-path={{.Path}} data-name={{.Name}}>
                                {{.Name}}{{.Ext}}
                            </div>
                        </div>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
{{end}}